* {
	margin: 0;
	padding: 0;
}


.back {
	text-align: center;
	width: 100%;
	padding-top: 20px;
	font-family: consolas;
	font-size: 25px;
	font-style: italic;
}

.container {
	display: flex;
	/*border: red solid 1px;*/
	align-items: center;
	flex-wrap: wrap;
	height: 1000px;
	justify-content: space-around;
}

.lubka {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, .6);
	width: 30%;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.characteristic {
	width: 90%;
	margin-bottom: 20px;
	font-family: consolas;
	font-size: 20px;
}

.name {
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: impact;
	font-style: italic;
	font-size: 30px;
}

img {
	width: 300px;
	height: 300px;
	margin-top: 20px;
	transition: all 0.5s ease;
}

img:hover {
	box-shadow: 4px 4px 5px rgba(255, 0, 0, .7);
}

